/* .background {
    background-image: url(https://phoenixaerodrone.files.wordpress.com/2020/09/193719fn9zdt933hmfddfm-e1600531326282.jpg);
    background-position: right center;
    height: 100%
} */

.img-circle{
    border-radius: 128px;
}