.background {
    background-color: #2e7cf6;
    /* background-image: url(https://phoenixaerodrone.files.wordpress.com/2020/07/img_20191124_172619_bg-3.jpg); */
    background-image: url(https://phoenixaerodrone.files.wordpress.com/2020/09/img_7347-e1600531074964.jpg);
    background-repeat:  no-repeat;
    background-position: center;
    
    /* ;
    b */
}

/* .background-right{
    background-color: #2e7cf6;
    background-image: url(https://phoenixaerodrone.files.wordpress.com/2020/07/img_20191124_172536-1.jpg);
    
} */
.card {
    background-color: transparent;
    color: #fff;
}
.text-muted{
    color: #fff !important;
}
.btn[type=submit]{
    border-radius: 50px;
}
h1{
    color: #fff;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-left: auto;
    margin-right: auto;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 14px;
    text-decoration: none;
  }