<div class="row background">
    <div class="col-sm-6" text-right pt-5>
    </div>
    <!-- "col-sm-5" -->
    <div class="col-sm-6 background-left p-8 pb-2">
        <div class="card-text">
        <h2 class="mx-5 my-5"> Phoenix Drone</h2>
        <h6 class="mx-5 my-1">
            This project was started in the year 2015 with a group of three. 
            Designed from basic knowledge about drones, and implementation of existing drone technology. 
            Research is being done for further improvement of this model in most efficient and reliable way. 
            As drone technology is very complex this site is created to share knowledge, views, ideas about 
            drones in a simpler way to some extent. Main objectives start from basics of Drones, flight 
            parameters, mathematical modelling, communication model, technologies involved in designing them etc.
            <br/><br/>
            Let's get started !!
        </h6>
        </div>
    </div>
</div>
    <!-- <div class="row">
        <div class="offset-sm-2 col-sm-8 text-center pt-5 mt-5">
            <h5></h5>

            <div class="row">

                <div class="offset-sm-2 col-sm-4 text-left pt-5 vertical-divider mt-5 ">
                    <a href=""><i class="fa fa-user mt-3"></i>   Bhavyanth Kondapalli </a>
                    <br/>
                    <a href="mailto:bhavyanth02@gmail.com"><i class="fa fa-envelope mt-3"></i> bhavyanth02@gmail.com </a>
                    <br/>
                    <a href="https://www.instagram.com/bhavyanth_kondapalli/"><i class="fa fa-instagram mt-3"></i> bhavyanth_kondapalli  </a>
                    <br/>  
                  </div>
            
                  <div class="col-sm-6 text-left py-5 my-5 px-5">
                    <a href="https://goo.gl/maps/zerBpNJ6azM3GiEU9"><i class="fa fa-map-marker mt-3"></i> Andhra Pradesh </a><br/>
                    <a href="https://www.linkedin.com/in/bhavyanth-kondapalli-1b5912187/"> <i class="fa fa-linkedin mt-3"></i> bhavyanth-kondapalli-1b5912187<br/> </a>
                    <a href="https://github.com/Bhavyanth"><i class="fa fa-github mt-3"></i> Bhavyanth </a>
                   
                  </div>

            </div>

        </div>
</div> -->
<hr />
  <ul>
     <li> <a href=""><i class="fa fa-user mt-3"></i> </a> </li>
     <li> <a href="mailto:bhavyanth02@gmail.com"><i class="fa fa-envelope mt-3"></i></a> </li>
     <li> <a href="https://www.linkedin.com/in/bhavyanth-kondapalli-1b5912187/"><i class="fa fa-linkedin mt-3"></i></a> </li>
     <li><a href="https://github.com/Bhavyanth"><i class="fa fa-github mt-3"></i> </a> </li>
     <li><a href="https://www.instagram.com/bhavyanth_kondapalli/"><i class="fa fa-instagram mt-3"></i>    </a> </li>
     <li style="float:right"><a href="/"></a></li>
    </ul>

<ngx-spinner></ngx-spinner>